@import "../header.css";
@import "../footer.css";

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #212b36;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}
.left-menu {
    border-radius: 10px;
    width: 20%;
    height: 699px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.13);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 20px;
}

.left-menu-top, .left-menu-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.left-menu-top a, .left-menu-bottom a {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 10px;
}

.left-menu-top a:hover, .left-menu-bottom a:hover {
    background: #f5f5f5;
    border-radius: 5px;
}

.left-menu-top a img, .left-menu-bottom a img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

#account {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 0;

}

#account img {
    width: 40px;
    height: 40px;
}

.menu-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.main-menu{
    padding: 20px;
    width: 75%;
}

.settings-page {
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.bonuses {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.bonuses img {
    font-size: 24px;
    margin-right: 10px;
}

.bonuses p {
    font-size: 18px;
    margin: 0 10px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.section p {
    font-size: 14px;
    color: #666;
}

.form-group {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.form-group label {
    width: 47%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #212b36;
}

.form-group input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
    border: 1px solid #e7e7e7;
    width: 358px;
    height: 50px;
}

.form-group img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}

.form-group .edit-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form-group .edit-profile i {
    margin-left: 5px;
}

.form-group .edit-profile:hover {
    color: #007bff;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout p {
    flex: 1;
    font-size: 14px;
    color: #666;
    margin: 0;
}

.logout i {
    font-size: 24px;
    cursor: pointer;
}

.update-button-div {
    display: flex;
    justify-content: end;
}

.update-btn {
    border-radius: 8px;
    padding: 18px 27px;
    width: 241px;
    height: 55px;
    cursor: pointer;
    background: #ffa800;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.update-btn:hover {
    background-color: #e69500;
}

.bonus-box {
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.bonus-box img {
    width: 34px;
    height: 34px;
    margin-right: 10px;
}

.menu-page-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #000;
}

.menu-page-subtitle{
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #000;
}

.menu-page-days{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.menu-page-days a{
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #302929;
    margin: 10px;
}

.menu-page-days a:hover{
    color: #ffa800;
}

.menu-page-days a.activelink{
    padding: 10px;
    border-radius: 5px;
    background: var(--primary-color);
    color: white;

}
.menu-page-meals-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu-page-meals-info{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.menu-page-meal-card{
    margin:0 0 10px;
    border: 1px solid #cecece;
    border-radius: 10px;
    width: 180px;
    height: auto;
    padding: 10px;
}

.menu-page-meal-card img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.meal-card-price span{
    font-weight: 500;
    font-size: 11px;
    line-height: 120%;
    text-transform: uppercase;
    color: #b0cc0d;
}

.meal-card-price button{
    border-radius: 4px;
    width: 77px;
    height: 20px;
    background: #ffa800;
    border: none;
    color: white;
    font-size: 10px;
}

.meal-card-price button:hover{
    background: #e69500;
}

.name-meal{
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    color: #000;
}

.meal-card-info p{
    font-weight: 300;
    font-size: 12px;
    line-height: 180%;
    color: #0a0909;
}

.order-information{
    border: 1px solid #cecece;
    border-radius: 10px;
    height: auto;
    padding: 20px;
    margin-left: 20px;
}

.order-information select{
    border: 1px solid #7c7c7c;
    border-radius: 13px;
    width: 100%;
    height: 41px;
    padding: 10px;
    margin: 10px 0;
    outline: none;
}

.order-information select option{
    width: 90%;
    margin: 0 auto;
    background: white;
    color: #cecece;
    padding: 10px;
}

.order-information select option:hover{
    background: #ffa800;
    color: white;
}


.order-information hr{
    border: 1px solid #cecece;
    margin: 10px 0;
}

.order-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.order-price:first-child{
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    color: #000;
}

.order-price span{
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #000;
}

.order-information-button{
    border: none;
    border-radius: 7px;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background: #ffa800;
}

.order-information-button:hover{
    background: #e69500;
}

.modal-container{
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;

}

.modal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 938px;
    height: 804px;
    border-radius: 10px;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-container.modal-active{
    display: flex;
}

/*when modal is active body is not scrolling */

.modal-container.modal-active body{
    overflow: hidden;
}

.modal-categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.modal-categories a {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #302929;
    margin: 10px;
}

.modal-categories a:hover {
    color: #ffa800;
}

.modal-categories a.activelink {
    padding: 10px;
    border-radius: 5px;
    background: var(--primary-color);
    color: white;
}



.add-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button button{
    border: none;
    border-radius: 7px;
    width: 30%;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background: #ffa800;
    cursor: pointer;
}




















.hide{
    display: none;
}

@media screen and (max-width: 768px) {

    .menu-page-meals-info{
        flex-direction: column;
        align-items: center;
    }

    .menu-page-meals-cards{
        justify-content: center;
        gap: 20px;
    }
    .form-group label {
        width: 100%;
    }

    .form-group input {
        width: 100%;
    }
    .main-menu{
        width: 100%;
    }
    .bonuses{
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }
    .bonuses p{
        margin: 0;
    }
    .left-menu {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        transition: bottom 0.3s ease;
    }

    .left-menu-top, .left-menu-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .left-menu-top{
        width: 60%;
    }

    .left-menu-top a, .left-menu-bottom a {
        justify-content: center;
    }
    .left-menu-bottom{
        width: 40%;
    }
    #account{
        justify-content: center;
    }

    .left-menu-top a span, .left-menu-bottom a span{
        display: none;
    }
}

